* { box-sizing: border-box; }

body { 
    margin : 0;
}

article::after { 
    content : "";
    display : table;
    clear : both;
}

article { 
    float : left;
    margin : 0px auto;
    padding : 5px;
    width : 25%;
}

article img {
    width: 100%;
    margin-bottom : 5px;
}

@media screen and (max-width : 768px) {
    article { width : 50%; }
}

@media screen and (max-width : 576px) {
    article { width : 100%; }
}